body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

main {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: block;
    margin: 0 !important;
}

footer {
    padding: 0 !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.clickable:not(.disable):hover {
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

.clickable:not(.disable):active {
    transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
}

.disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hidden {
    display: none;
}

.row a[class~='clickable']:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row a[class~='clickable'] {
    position: relative;
    display: inline-block;
    padding: 0;
    /* border: 1px solid darkblue; */
}

#ingredients {
    background-image: url(../img/svg/table.svg);
    background-clip: content-box;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0;
}

#ingredients .row {
    margin-right: 0;
    /* border: 1px solid red; */
}

#ingredients>div:last-child {
    /* border: 1px solid green; */
    position: absolute;
    bottom: 0px;
}

#glass {
    background: url(../img/svg/back.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    position: absolute;
    top: 0;
    /* border: 1px solid purple; */
}

#glass .row {
    position: absolute;
    top: 0;
    bottom: 0;
    /* border: 3px solid greenyellow; */
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.glass-wrapper {
    width: 100%;
    height: 100%
    position: relative;
}

.glass-wrapper .glass,
.glass-wrapper .layers-wrapper {
    width: 100%;
    height: 70%;
    position: absolute;
    /*top: 0;*/
    bottom: 5%;
    left: 0;
}

.glass-wrapper .layers-wrapper {
    perspective: 1000px;
    z-index: 5;
}

.glass-wrapper .glass {
    text-align: center;
    z-index: 10;
}

.glass-wrapper .glass img {
    height: 100%;
}

.layer {
    height: 50px;
    width: 20%;
    margin: auto;
    /*border: 1px black solid;*/
    background-color: #83FEFF;
}

.wrapper__top-fix {
    height: 14%;
}

.layers-wrapper__4 {
    height: 16%;
    transform: translate(2%, 3%) rotateX(-10deg);
    
}

.layers-wrapper__3 {
    height: 16.5%;
    transform:translate(2%, 6%) rotateX(-12deg);
}

.layers-wrapper__2 {
    height: 18%;
    transform:translate(2%, 8%) rotateX(-8deg);
}

.layers-wrapper__1 {
    height: 21%;
    transform:translate(2%, 5%) rotateX(-10deg);
    border-bottom-left-radius: 40% 20%;
    border-bottom-right-radius: 40% 20%;
}

/* footer {
    z-index: 9999;
} */

/*
.row>.col {
    padding: 0;
} */

/* main {
    border: 1px solid green;
} */

/* .container {
    margin: 0px!important;
    padding: 0px!important;
    width: 100%!important;
} */

/* .container {
    width: 100%;
    max-width: initial;
}

.container>.row {
    margin: 0;
}

.container>.row>.col {
    padding: 0;
} */