body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

main {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: block;
    margin: 0 !important;
}

footer {
    padding: 0 !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.glass-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.glass-wrapper .glass,
.glass-wrapper .layers-wrapper {
    width: 100%;
    height: 70%;
    position: absolute;
    /*top: 0;*/
    bottom: 5%;
    left: 0;
}

.glass-wrapper .layers-wrapper {
    z-index: 5;
}

.glass-wrapper .glass {
    text-align: center;
    z-index: 10;
}

.glass-wrapper .glass img {
    height: 100%;
}

.layer {
    perspective: 1000px;
    width: 20%;
    margin: auto;
    -webkit-background-size: cover;
    /*border: 1px black solid;*/
}

.layer-ingredient {
    background-color: #4AFFF3;
    background-size: cover;
}

.wrapper__top-fix {
    height: 14%;
}

.layer-wrapper__4 {
    height: 16%;
    -webkit-transform: translate(2%,12%);
    -ms-transform: translate(2%,12%);
    -o-transform: translate(2%,12%);
    transform: translate(2%,12%);
}

.layer__4 {
    height: 100%;
    transform: rotateX(-12deg);

    background-image: url("../img/svg/ingredient-backgrounds/stone.svg");
}

.layer-wrapper__3 {
    height: 16.5%;
    -webkit-transform: translate(2%, 11.5%);
    -ms-transform: translate(2%, 11.5%);
    -o-transform: translate(2%, 11.5%);
    transform: translate(2%, 11.5%);
}

.layer__3 {
    height: 100%;
    transform: rotateX(-12deg);

    background-image: url("../img/svg/ingredient-backgrounds/tomato.svg");
}

.layer-wrapper__2 {
    height: 18%;
    -webkit-transform: translate(2%, 8%);
    -ms-transform: translate(2%, 8%);
    -o-transform: translate(2%, 8%);
    transform: translate(2%, 8%);
}

.layer__2 {
    height: 100%;
    transform: rotateX(-8deg);

    background-image: url("../img/svg/ingredient-backgrounds/dirt.svg");
}

.layer-wrapper__1 {
    height: 21%;
    -webkit-transform: translate(2%, 5%);
    -ms-transform: translate(2%, 5%);
    -o-transform: translate(2%, 5%);
    transform: translate(2%, 5%);
}

.layer__1 {
    height: 100%;
    transform: rotateX(-10deg);
    border-bottom-left-radius: 40% 20%;
    border-bottom-right-radius: 40% 20%;

    background-image: url("../img/svg/ingredient-backgrounds/orange.svg");
}

.layer-cross {
    -webkit-transform: translate(-125%, -125%);
    -ms-transform: translate(-125%, -125%);
    -o-transform: translate(-125%, -125%);
    transform: translate(-125%, -125%);
    z-index: 200;
    cursor: pointer;
}

.layer-cross:hover {
    
}
