.clickable:not(.disable):hover {
    -webkit-filter: drop-shadow(0.25em 0.25em 0.1em rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0.25em 0.25em 0.1em rgba(0, 0, 0, 0.5));
}

.clickable:not(.disable):active {
    transform: translate(0.1em, 0.1em);
    -webkit-transform: translate(0.1em, 0.1em);
    -ms-transform: translate(0.1em, 0.1em);
}

.disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hidden {
    display: none;
}

.row a[class~='clickable']:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row a[class~='clickable'] {
    position: relative;
    display: inline-block;
    padding: 0;
    /* border: 1px solid darkblue; */
}

#ingredients {
    background-image: url(../img/svg/table.svg);
    background-clip: content-box;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0;
}

#ingredients .row {
    margin-right: 0;
    border: 0.05em solid red;
}

#ingredients>div:last-child {
    /* border: 3px solid green; */
    position: absolute;
    left: 0em;
    right: 0em;
    bottom: 0em;
    /* position: absolute;
    bottom: 0em; */
    /* display: inline; */
    /* right: 0em; */
}

#pagebar {
    /* border: 3px solid blue; */
    margin: 0;
    padding: 0;
    /* border 3px solid green;
    margin: 0;
    padding: 0; */
    /* bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 70%; */
    /* display: inline-block;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; */
}
#glass {
    background: url(../img/svg/back.svg);
    height: 100%;
    position: absolute;
    top: 0;
}

#glass .row {
    position: absolute;
    top: 0;
    bottom: 0;
    /* border: 3px solid greenyellow; */
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}